
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #ebf2f3;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    padding: 30px;
}

header {
    background-color: tomato;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    text-align: center;
    font-style: italic;
    font-size: 40px;
    color: black;
}

footer {
    background-color: tomato;
    padding: 10px;
}

.animals {
    object-fit: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.animals img {
    border: solid black 4px;
    width: 425px;
    height: 300px;
    margin: 20px;
    grid-auto-rows: auto;
    cursor: pointer;
    flex-wrap: wrap;
}

.animals div {
    display: flex;
    flex-direction: column;
}

span {
    text-align: center;
}